VERSION="v0.1.0"

plugins {
  id "nf-validation"
}

process {
  container = "hliu2023/tempus_challenge:${VERSION}"
}

docker {
  enabled = true
  fixOwnership = true
}

profiles {
  test { 
    params {
      vcf_file_path = "${baseDir}/tests/data/short_vcf_data.txt"
      output_vcf_name = "output_vcf_data.txt"
      publish_base = "/tmp/nextflow/output/tempus_bioinfo_challenge"
    }
  }
  cloud {
    params {
      // If running in AWS or GCP, use with cloud storage path
    }
  }
}
